{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block cuerpo %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Detalle de Reunión</h2>
            <ol class="breadcrumb">
                <li>
                    <a onclick="activar_spinner()" href="{% url 'panel' %}">Panel de Inicio</a>
                </li>
                <li class="active">
                    <strong>Detalle de Reunión</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalle de Reunión</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <p><strong>Nombre de la Runion: </strong>{{ object }}</p>
                                <p><strong>Codigo de la Runion: </strong>{{ object.meetingID }}</p>
                                <p><strong>Duracion de la Runion: </strong>{{ object.duration }} minutos</p>
                                <p><strong>Moderador de la Runion: </strong>{{ object.moderador }}</p>
                                {% if object.salas.all %}
                                    <p><strong>Salas de la Runion: </strong>
                                        {% for sala in object.salas.all %}
                                            {{ sala }},
                                        {% endfor %}</p>
                                    <p><strong>Miembros de la Runion: </strong>
                                        {% for sala in object.salas.all %}
                                            {% for usuario in sala.miembros.all %}
                                                {{ usuario }},
                                            {% endfor %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Borrar de Reunión</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <p>Esta seguro de que quiere eliminar a esta reunion "{{ object }}"?</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="submit" onclick="activar_spinner_form()" class="btn btn-danger block full-width m-b">Eliminar Reunión</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <a onclick="activar_spinner()" class="btn btn-sm btn-white btn-block form-control" href="{% url  'panel' %}">Atras</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('input').attr("class", "form-control");
        });
        function activar_spinner_form(){
            duration = $("#id_duration").val();
            nombre = $("#id_name").val();
            if(duration != "" && nombre != ""){
                Swal.fire({
                    html: '<i class="fa fa-refresh fa-spin fa-5x"></i></br></br>',
                    showConfirmButton: false,
                    padding: '3em',
                    backdrop: 'rgba(0,0,0,0.7)'
                });
            }
        }
    </script>
{% endblock %}
