{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block cuerpo %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Unirme a Reunión</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'panel' %}">Panel de Inicio</a>
                </li>
                <li class="active">
                    <strong>Unirme a Reunión</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Crear Reunión</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        <div class="alert alert-success alert-dismissable">
                                    {% else %}
                                        <div class="alert alert-warning alert-dismissable">
                                    {% endif %}
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            {{ message }}
                                        </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                            <p class="text-muted">
                                {{ form.codigo_reunion.label }}:
                            </p>
                            {{ form.codigo_reunion }}
<!--                            <input type="email" class="form-control" placeholder="Username" required="">-->
                        </div>
                        <div class="form-group">
                            <p class="text-muted">
                                {{ form.nombre_usuario.label }}:
                            </p>
                                {{ form.nombre_usuario }}
<!--                            <input type="password" class="form-control" placeholder="Password" required="">-->
                        </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-primary block full-width m-b">Unirme Reunión</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <a class="btn btn-sm btn-white btn-block form-control" href="{% url  'panel' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('input').attr("class", "form-control");
        });
    </script>
{% endblock %}
